
<div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li><a [routerLink]="['/layout/profile']">Profile <span class="sr-only">(current)</span></a></li>
          <li><a [routerLink]="['/layout/login']" >Local Login </a></li>
          <li><a [routerLink]="['/layout/register']">Local Register</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a [routerLink]="['/layout/facebook']">Facebook Login</a></li>
          <li><a [routerLink]="['/layout/twitter']">Twitter Login</a></li>
          <li><a [routerLink]="['/layout/google']">Google Login</a></li>
        </ul>
        <ul class="nav nav-sidebar">
          <li><a  [routerLink]="['/layout/instial']">Installiation</a></li>
          <li><a href="https://kodizim.com">Blog</a></li>
        </ul>
      </div>