<div class="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand text-uppercase" href="#">Kodizim.com projects </a>
            </div>
        
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="https://kodizim.com">kodizim.com</a></li>
  
                </ul>
            </div>
          </div>
        </nav>
        <header class="header">
            <div class="container">
              <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div class="content">
                      <div class="pull-middle">
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- project5.kodizim.com -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-2698789182225075"
                                 data-ad-slot="1936103360"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                        <h1 class="page-header">This is simple local/social login and register project </h1>
                        <p class="lead">using Angular 4 , nodejs and mysql ( Token Based Auth ) </p>
                        <p class="lead">facebook and google login  are not completed so only twitter login is running.</p>
                            <button class="btn btn-success btn-circle text-center" [routerLink]="['/layout/login']">Go to Dashboard</button>                           
                            <button class="btn btn-primary btn-circle text-center" (click)="gotoblog()">Go to Blog</button>
                            <button class="btn btn-default btn-circle text-center" [routerLink]="['/layout/instial']">Go to install</button>
                            <button class="btn btn-warning btn-circle text-center" (click)="gotogithub()">Go to Github Page</button>
                            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                            <!-- kodizim1 -->
                            <ins class="adsbygoogle"
                                 style="display:block"
                                 data-ad-client="ca-pub-2698789182225075"
                                 data-ad-slot="7046582017"
                                 data-ad-format="auto"></ins>
                            <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                            </script>
                      </div>              
                    </div>
                </div>
            
              </div>
            </div>
        </header>

    </div>