<h2>Installiation</h2>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- kodizim1 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2698789182225075"
     data-ad-slot="7046582017"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<div class="container">
    <div class="row well">
        <ul>
            <li>
                firstly you can download this codes <a href="https://github.com/mustafa05deniz/angular-4-nodejs-mysql-social">github</a>
            </li>
            <li>
                open 2 terminal 
            </li>
            <li>
                first terminal has be back end codes
            </li>
            <li>
                second terminal has be front end codes
            </li>
        </ul>
        <h4>for back end </h4>
        <ul>
            <li>
                open <b>back end folder</b> and write this codes 
            </li><br>   
            <pre> >> npm install -g </pre>
            <li>
                and open <b>app folder</b> after write this codes 
            </li><br>
            <pre> >> node server.js  </pre>
        </ul><hr>
        <h4>for front end </h4>
        <ul>
            <li>
                open <b>front end folder </b> write this codes 
            </li><br>   
            <pre> >> npm install -g </pre>
            <li>
                and open <b>src folder</b> after write this codes 
            </li><br>
            <pre> >> ng serve   </pre>
        </ul><br>
        <h4>for database (mysql) </h4>
        <ul>
            <li>
                open mysql front or what do you use 
            </li><br>   
            <pre> create database your_db_name;</pre>
            <li>
                after change this code in <b>Back_end > server > app > config.js </b>
            </li><br>
            <pre> name: 'your_db_name'  </pre>
        </ul><br>

        <h5>---> http://localhost:4200 </h5>
        <p> ---> Enjoy the codes ...</p>
    </div>
</div>